In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/wingo/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/wingo/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/wingo/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /home/wingo/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in /home/wingo/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
import numpy as np

for module in (pd, np):
    print(module.__name__, module.__version__)

pandas 1.1.3
numpy 1.19.2

# 1. 创建DataFrame

In [12]:
df=pd.DataFrame({'col one':[100,200], 'col two':[300,400]})
df

   col one  col two
0      100      300
1      200      400

In [4]:
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.714308,0.560332,0.566369,0.033875,0.916357,0.220019,0.807122,0.095375
1,0.152274,0.530480,0.816685,0.122382,0.785897,0.975792,0.028904,0.257432
2,0.565436,0.390812,0.400271,0.910662,0.276116,0.828107,0.261470,0.009437
3,0.440856,0.983709,0.099317,0.383748,0.379216,0.494968,0.551414,0.579123

In [5]:
pd.DataFrame(np.random.rand(4,8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.135176,0.965971,0.728202,0.233265,0.251890,0.494890,0.343447,0.277073
1,0.155412,0.681116,0.946264,0.833780,0.461818,0.140667,0.325143,0.791763
2,0.155782,0.240466,0.372160,0.052816,0.700831,0.768033,0.806866,0.452473
3,0.045557,0.687684,0.914829,0.814753,0.971055,0.273847,0.591620,0.894012

# 2. 更改列名

In [6]:
df

   col one  col two
0      100      300
1      200      400

In [9]:
df=df.rename({'col one':'col_one', 'col two':'col_two'}, axis='columns')
df

   col_one  col_two
0      100      300
1      200      400

In [10]:
df.columns=['col_one','col_two'] # 一次改所有
df

   col_one  col_two
0      100      300
1      200      400

In [13]:
df.columns=df.columns.str.replace(' ','_')
df

   col_one  col_two
0      100      300
1      200      400

In [15]:
df.add_prefix('X_')

   X_col_one  X_col_two
0        100        300
1        200        400

In [16]:
df.add_suffix('_Y')

   col_one_Y  col_two_Y
0        100        300
1        200        400

# 3. 行序反转